[package]
name = "cosmic-bg"
version = "0.1.0"
edition = "2021"

[dependencies]
color-eyre = "0.6.2"
colorgrad = { workspace = true }
cosmic-bg-config = { path = "./config" }
cosmic-config = { workspace=true }
dirs = "5.0.1"
eyre = "0.6.8"
image = { version = "0.24", features = ["gif", "jpeg", "ico", "png", "pnm", "tga", "tiff", "webp", "bmp", "hdr", "dxt", "dds", "farbfeld", "openexr", "qoi"], default-features = false }
notify = "6.0.0"
rand = "0.8"
ron = { workspace = true }
sctk = { package = "smithay-client-toolkit", git = "https://github.com/Smithay/client-toolkit", rev = "8c49516" }
slab = "0.4.8"
tracing = { workspace=true }
tracing-subscriber = "0.3.17"
walkdir = "2.3"

[workspace]
members = ["config"]

[workspace.dependencies]
colorgrad = "0.6.2"
ron = "0.8"
tracing = "0.1.37"

[workspace.dependencies.cosmic-config]
git = "https://github.com/pop-os/libcosmic"
features = ["calloop", "macro"]

[profile.release]
debug = true
