[package]
name = "cosmic-bg"
version = "0.1.0"
edition = "2021"

[dependencies]
color-eyre = "0.6.3"
colorgrad = { workspace = true }
cosmic-bg-config = { path = "./config" }
dirs = "5.0.1"
eyre = "0.6.11"
fast_image_resize = { version = "5.0.0", features = ["image"] }
image = { workspace = true, features = ["hdr", "jpeg", "png", "rayon", "webp"], default-features = false } 
jxl-oxide = "0.9.0"
notify = "6.1.1"
rand = "0.8"
ron = { workspace = true }
# sctk = { package = "smithay-client-toolkit", version = "0.19.2" }
sctk = { package = "smithay-client-toolkit", git = "https://github.com/Smithay/client-toolkit" }
slab = "0.4.9"
tracing = { workspace = true }
tracing-subscriber = "0.3.18"
walkdir = "2.5"

[workspace]
members = ["config"]

[workspace.dependencies]
colorgrad = "0.6.2"
image = { version = "0.25.2", default-features = false }
ron = "0.8"
tracing = "0.1.40"

[dependencies.cosmic-config]
git = "https://github.com/pop-os/libcosmic"
features = ["calloop"]

[profile.release]
opt-level = 3
