[package]
name = "cosmic-bg"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
image = { version = "0.24", features = ["gif", "jpeg", "ico", "png", "pnm", "tga", "tiff", "webp", "bmp", "hdr", "dxt", "dds", "farbfeld", "openexr", "qoi"], default-features = false } 
sctk = { package = "smithay-client-toolkit", git = "https://github.com/Smithay/client-toolkit", rev = "bb3b73e" }
cosmic-bg-config = { path = "./cosmic-bg-config" }
anyhow = "1.0"
notify = "5.0"
dirs = "4.0"
walkdir = "2.3"
itertools = "0.10"
rand = "0.8"
cosmic-config = { git = "https://github.com/pop-os/libcosmic" }
ron = "0.8"
fast_image_resize = "2.7.0"
[workspace]
members = [
    "cosmic-bg-config"
]
