[Desktop Entry]
Name=COSMIC Background
Name[zh_CN]=COSMIC 
Name[ar]=خَلفِيَّةُ COSMIC
Name[cs]=Pozadí COSMIC
Name[pl]=Tapeta COSMIC
Name[ru]=Фоны COSMIC
Name[sv]=COSMIC Bakgrund
Comment=COSMIC Background desktop daemon
Comment[zh_CN]=COSMIC 背景桌面守护进程
Comment[ar]=نَاطِرُ خَلفِيَّةِ سَطحِ مَكتَبِ COSMIC
Comment[cs]=Daemon pozadí plochy COSMIC
Comment[pl]=Usługa tapety pulpitu COSMIC
Comment[ru]=Демон фонов оболочки COSMIC
Comment[sv]=COSMIC bakgrundsprocess för skrivbordsbakgrund
Type=Application
Exec=cosmic-bg
Terminal=false
Categories=GNOME;GTK;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=Gnome;GTK;
Keywords[ar]=جنوم;جي‌تي‌كي;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicBackground
StartupNotify=true
NoDisplay=true
